.redirect-blocks {
    display: flex;
    justify-content: center;
    transition: all 1s ease;
}

.redirect-blocks > div {
    align-items: center;
    border: 1px solid;
    cursor: pointer!important;
    display: grid;
    height: 40px;
    margin: 35px;
    width: 150px;
    z-index: 10;
}

.redirect-block-selected {
    background-color: #E6E8EB;
    border: 3px solid #153E7D;
    color: #153E7D;
    transition: all 1s ease;
}

.redirect-block-not-selected {
    background-color: transparent;
    border: 1px solid #E6E8EB;
    color: #E6E8EB;
    transition: all 1s ease;
}