.redirect-blocks {
    display: flex;
    justify-content: center;
}

.redirect-blocks > div {
    align-items: center;
    border: 1px solid;
    cursor: pointer;
    display: grid;
    height: 40px;
    margin: 35px;
    width: 150px;
}

.redirect-block > div:hover {
    
}

.redirect-block-selected {
    background-color: #E6E8EB;
    border: 1px solid #153E7D;
    color: #153E7D;
}